In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.0.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:8 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:9 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:10 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [80.4 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:15 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:16 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [931 kB]
Hit:17 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:18 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,827 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,628 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [936 kB]
Get:21 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,479 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,067 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,257 kB]
Get:24 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.2 kB]
Fetched 13.5 MB in 7s (1,926 kB/s)
Reading package lists... Done

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("M16-Amazon-Challenge").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [3]:
#load df
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Sports_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get(""), sep="\t", header=True, inferSchema=True)
df.show()

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|   48945260|R1WBPB8MDCCN8F|B012P7UPSM|     409940130|Chicago Blackhawk...|          Sports|          5|            0|          0|   N|                N|   LOVE IT. 6 stars!|Bought this last ...| 2015-08-31|
|         US|    5782091|R32M0YEWV77XG8|B001GQ3VHG|     657746679|Copag Poker Size ...|          Sports|          5|            1|          1|   N|                Y|       Shipped fast.|These are the bes...| 2015-08-31|
|         US|   45813853| RR8V7WR27NXJ5|B008VS8M58|     962442336|Baoer 223 5.56x45...|          Sports|          1|            0|          0|   N|                Y|Good idea if it w...|It looks good, th...| 2015-08-31|
|         US|    1593730|R1MHO5V9Z932AY|B005F06F4U|      74305227|All Terrain Tackl...|          Sports|          5|            0|          0|   N|                Y|          Five Stars|           Great jig| 2015-08-31|
|         US|   29605511|R16PD71086BD2V|B010T4IE2C|     787185588|Swim Cap - 3 Pack...|          Sports|          5|            0|          1|   N|                N|Great quality sil...|I love swimming i...| 2015-08-31|
|         US|   11112959|R1Z8IFGWTRWXT6|B004RKJGLS|      94127483|adidas Men's Spor...|          Sports|          3|            0|          0|   N|                Y|Love everything a...|Love everything a...| 2015-08-31|
|         US|     108031|R3AUMSHAW73HWN|B005V3DCBU|     526977496|Nike Men's Perfor...|          Sports|          4|            2|          3|   N|                N|          Four Stars|not the best sock...| 2015-08-31|
|         US|   13981540|R2KWDWFOHGX6FL|B00MHT9WN8|      26521265|Green Bay Packers...|          Sports|          5|            0|          0|   N|                Y|          Five Stars|             Love it| 2015-08-31|
|         US|   37993909|R3H9543FWBWFBU|B001CSIRQ8|     652431165|Isokinetics Inc. ...|          Sports|          5|            1|          1|   N|                Y|can't wait to use it|Unfortunately I h...| 2015-08-31|
|         US|   26040213| RUANXOQ9W3OU5|B001KZ3NOO|     635861713|Aottop Quality El...|          Sports|          5|            0|          0|   N|                Y|great product, ac...|fast shipping , g...| 2015-08-31|
|         US|   34657602|R31673RTGEZSW7|B00005RCQS|      72099763|Everlast 2'x6' Fo...|          Sports|          5|            2|          2|   N|                Y|this mat is a pre...|If you have a ter...| 2015-08-31|
|         US|   14346192|R22OQLFSH42RCM|B00FA7RWVI|     757354022|OGIO Men's Shredd...|          Sports|          5|            1|          1|   N|                Y|  Versatile Golf Bag|Love this golf ba...| 2015-08-31|
|         US|   38782687|R12LEL4F3TSZUJ|B000MMH2HU|     272402599|Blue Sea Systems ...|          Sports|          5|            2|          2|   N|                Y|Great AC Main Bre...|Perfect mounting ...| 2015-08-31|
|         US|   27138575|R2L9XWD03072NI|B00WJOATDS|     375070208|Zengi AR15 45 Deg...|          Sports|          5|            1|          2|   N|                Y|   Nice, some quirks|For the cost you ...| 2015-08-31|
|         US|   11838771|R2K0U91HIACANO|B00BOM2JNY|     639666785|Black Mountain Pr...|          Sports|          5|            0|          0|   N|                N|55 cm - Good qual...|The ball is very ...| 2015-08-31|
|         US|     535800|R29SP6MBT7MXG7|B00OD5GAFM|      38715442|Trijicon VCOG 1-6...|          Sports|          4|            3|          3|   N|                Y|    Very nice scope.|Very nice scope.....| 2015-08-31|
|         US|   23156579|R31XREAAMATEPY|B00CAHDC1K|      57088652|Naruto Headband f...|          Sports|          5|            0|          0|   N|                Y|was for my son an...|           This item| 2015-08-31|
|         US|   48107879|R2116AVB87SO38|B004NLHXLG|     114125984|Under Armour Men'...|          Sports|          5|            0|          0|   N|                Y|          Five Stars|greatest socks i ...| 2015-08-31|
|         US|   27260960|R3RDVBB6O0X3HW|B00L7OANWI|     883962979|Yes4All Deep Tiss...|          Sports|          5|            0|          0|   N|                Y|          Five Stars|Perfect for home ...| 2015-08-31|
|         US|   39537314|R3LW5T149LKKQM|B0085PPSIQ|     691479969|Lansky PS-MED01 B...|          Sports|          4|            0|          0|   N|                Y|A bit heavy for p...|Very good product...| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 20 rows

In [7]:
# Read in the Review dataset as a DataFrame
df.printSchema()

root
 |-- marketplace: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- review_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_parent: integer (nullable = true)
 |-- product_title: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- star_rating: string (nullable = true)
 |-- helpful_votes: integer (nullable = true)
 |-- total_votes: integer (nullable = true)
 |-- vine: string (nullable = true)
 |-- verified_purchase: string (nullable = true)
 |-- review_headline: string (nullable = true)
 |-- review_body: string (nullable = true)
 |-- review_date: string (nullable = true)

In [6]:
# Create the vine_table. DataFrame
# vine_df = df.select([])
vine_df=df.select(["review_id","star_rating","helpful_votes","total_votes","vine","verified_purchase"])
vine_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R1WBPB8MDCCN8F|          5|            0|          0|   N|                N|
|R32M0YEWV77XG8|          5|            1|          1|   N|                Y|
| RR8V7WR27NXJ5|          1|            0|          0|   N|                Y|
|R1MHO5V9Z932AY|          5|            0|          0|   N|                Y|
|R16PD71086BD2V|          5|            0|          1|   N|                N|
|R1Z8IFGWTRWXT6|          3|            0|          0|   N|                Y|
|R3AUMSHAW73HWN|          4|            2|          3|   N|                N|
|R2KWDWFOHGX6FL|          5|            0|          0|   N|                Y|
|R3H9543FWBWFBU|          5|            1|          1|   N|                Y|
| RUANXOQ9W3OU5|          5|            0|          0|   N|                Y|
|R31673RTGEZSW7|          5|            2|          2|   N|                Y|
|R22OQLFSH42RCM|          5|            1|          1|   N|                Y|
|R12LEL4F3TSZUJ|          5|            2|          2|   N|                Y|
|R2L9XWD03072NI|          5|            1|          2|   N|                Y|
|R2K0U91HIACANO|          5|            0|          0|   N|                N|
|R29SP6MBT7MXG7|          4|            3|          3|   N|                Y|
|R31XREAAMATEPY|          5|            0|          0|   N|                Y|
|R2116AVB87SO38|          5|            0|          0|   N|                Y|
|R3RDVBB6O0X3HW|          5|            0|          0|   N|                Y|
|R3LW5T149LKKQM|          4|            0|          0|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [8]:
import numpy as np
import pandas

In [58]:
#total votes >=20
vine_df_vote_filter=vine_df[vine_df.total_votes >= 20]
vine_df_vote_filter.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R1B4753QMTD8ON|          5|           32|         32|   N|                N|
|R28BVHOEL6GCHZ|          5|           21|         21|   N|                Y|
|R27IB4BRKO71I0|          2|           16|         20|   N|                Y|
| RJ86OW12Y4NRL|          5|          124|        128|   N|                Y|
|R3KRABOWCH6ZE4|          1|           48|         65|   N|                Y|
|R1OAKARA30DIWX|          4|           83|         89|   N|                Y|
|R36LSV4WQ4VB1K|          5|           17|         22|   N|                N|
|R18BTOE5UGN7UA|          5|           26|         28|   N|                Y|
|R1DXLGDSK2WMLD|          4|           22|         22|   N|                N|
| RZG2OHQ12YYZI|          5|           30|         31|   N|                Y|
|R1ZPBQCT4DYE4Z|          1|           45|         51|   N|                Y|
|R16KLPJUNC9GS7|          5|           20|         21|   N|                Y|
|R3Q0414UJO4BDO|          1|           23|         28|   N|                Y|
| RDHDT1Z4R8IOF|          1|           18|         20|   N|                Y|
|R10BO7KWZNBGL1|          4|           23|         24|   N|                Y|
|R1H6DQ1UXL6K8U|          5|           86|         97|   N|                N|
|R32OMS1LSDRCOB|          4|           27|         31|   Y|                N|
|R1ABJ5P5XAZ9AW|          5|          174|        187|   N|                N|
|R2RRFZ2YFSJ2OF|          5|           27|         27|   N|                Y|
|R19G3LWRFBHDX3|          1|            4|         42|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [59]:
vine_df_vote_filter2=vine_df_vote_filter.withColumn('helpful_vote_percentage', vine_df_vote_filter['helpful_votes']*100/vine_df_vote_filter['total_votes'])
vine_df_vote_filter2.show()

+--------------+-----------+-------------+-----------+----+-----------------+-----------------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|helpful_vote_percentage|
+--------------+-----------+-------------+-----------+----+-----------------+-----------------------+
|R1B4753QMTD8ON|          5|           32|         32|   N|                N|                  100.0|
|R28BVHOEL6GCHZ|          5|           21|         21|   N|                Y|                  100.0|
|R27IB4BRKO71I0|          2|           16|         20|   N|                Y|                   80.0|
| RJ86OW12Y4NRL|          5|          124|        128|   N|                Y|                 96.875|
|R3KRABOWCH6ZE4|          1|           48|         65|   N|                Y|      73.84615384615384|
|R1OAKARA30DIWX|          4|           83|         89|   N|                Y|      93.25842696629213|
|R36LSV4WQ4VB1K|          5|           17|         22|   N|                N|      77.27272727272727|
|R18BTOE5UGN7UA|          5|           26|         28|   N|                Y|      92.85714285714286|
|R1DXLGDSK2WMLD|          4|           22|         22|   N|                N|                  100.0|
| RZG2OHQ12YYZI|          5|           30|         31|   N|                Y|       96.7741935483871|
|R1ZPBQCT4DYE4Z|          1|           45|         51|   N|                Y|      88.23529411764706|
|R16KLPJUNC9GS7|          5|           20|         21|   N|                Y|      95.23809523809524|
|R3Q0414UJO4BDO|          1|           23|         28|   N|                Y|      82.14285714285714|
| RDHDT1Z4R8IOF|          1|           18|         20|   N|                Y|                   90.0|
|R10BO7KWZNBGL1|          4|           23|         24|   N|                Y|      95.83333333333333|
|R1H6DQ1UXL6K8U|          5|           86|         97|   N|                N|      88.65979381443299|
|R32OMS1LSDRCOB|          4|           27|         31|   Y|                N|      87.09677419354838|
|R1ABJ5P5XAZ9AW|          5|          174|        187|   N|                N|      93.04812834224599|
|R2RRFZ2YFSJ2OF|          5|           27|         27|   N|                Y|                  100.0|
|R19G3LWRFBHDX3|          1|            4|         42|   N|                Y|      9.523809523809524|
+--------------+-----------+-------------+-----------+----+-----------------+-----------------------+
only showing top 20 rows

In [61]:
#helpful vote % >=50
vine_df_vote_filter3=vine_df_vote_filter2[vine_df_vote_filter2.helpful_vote_percentage >= 50]
vine_df_vote_filter3.show()

+--------------+-----------+-------------+-----------+----+-----------------+-----------------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|helpful_vote_percentage|
+--------------+-----------+-------------+-----------+----+-----------------+-----------------------+
|R1B4753QMTD8ON|          5|           32|         32|   N|                N|                  100.0|
|R28BVHOEL6GCHZ|          5|           21|         21|   N|                Y|                  100.0|
|R27IB4BRKO71I0|          2|           16|         20|   N|                Y|                   80.0|
| RJ86OW12Y4NRL|          5|          124|        128|   N|                Y|                 96.875|
|R3KRABOWCH6ZE4|          1|           48|         65|   N|                Y|      73.84615384615384|
|R1OAKARA30DIWX|          4|           83|         89|   N|                Y|      93.25842696629213|
|R36LSV4WQ4VB1K|          5|           17|         22|   N|                N|      77.27272727272727|
|R18BTOE5UGN7UA|          5|           26|         28|   N|                Y|      92.85714285714286|
|R1DXLGDSK2WMLD|          4|           22|         22|   N|                N|                  100.0|
| RZG2OHQ12YYZI|          5|           30|         31|   N|                Y|       96.7741935483871|
|R1ZPBQCT4DYE4Z|          1|           45|         51|   N|                Y|      88.23529411764706|
|R16KLPJUNC9GS7|          5|           20|         21|   N|                Y|      95.23809523809524|
|R3Q0414UJO4BDO|          1|           23|         28|   N|                Y|      82.14285714285714|
| RDHDT1Z4R8IOF|          1|           18|         20|   N|                Y|                   90.0|
|R10BO7KWZNBGL1|          4|           23|         24|   N|                Y|      95.83333333333333|
|R1H6DQ1UXL6K8U|          5|           86|         97|   N|                N|      88.65979381443299|
|R32OMS1LSDRCOB|          4|           27|         31|   Y|                N|      87.09677419354838|
|R1ABJ5P5XAZ9AW|          5|          174|        187|   N|                N|      93.04812834224599|
|R2RRFZ2YFSJ2OF|          5|           27|         27|   N|                Y|                  100.0|
| RJ0T139KDORXP|          5|           23|         24|   N|                Y|      95.83333333333333|
+--------------+-----------+-------------+-----------+----+-----------------+-----------------------+
only showing top 20 rows

In [64]:
#paid reviews
vine_df_Y=vine_df_vote_filter3[vine_df_vote_filter3.vine == 'Y']
vine_df_Y.show()

+--------------+-----------+-------------+-----------+----+-----------------+-----------------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|helpful_vote_percentage|
+--------------+-----------+-------------+-----------+----+-----------------+-----------------------+
|R32OMS1LSDRCOB|          4|           27|         31|   Y|                N|      87.09677419354838|
|R2IPKK4I0XRCFR|          4|           16|         21|   Y|                N|      76.19047619047619|
| RXYYJ8SGI9IX6|          5|           36|         41|   Y|                N|       87.8048780487805|
|R1SAUBFC7T6JHC|          5|           73|         75|   Y|                N|      97.33333333333333|
|R329HVJKKHWSG3|          5|           59|         59|   Y|                N|                  100.0|
| RZL21K50M52KW|          5|           22|         22|   Y|                N|                  100.0|
|R24RC5J2D92SBE|          5|           19|         20|   Y|                N|                   95.0|
|R1803HITBY7Y08|          4|           92|        104|   Y|                N|      88.46153846153847|
|R1888B8Z6QWYZ4|          4|           18|         25|   Y|                N|                   72.0|
|R1S538NK2I5PRL|          5|           21|         22|   Y|                N|      95.45454545454545|
| RZDTBIS1289HJ|          5|           26|         28|   Y|                N|      92.85714285714286|
|R1MWLO2PFODMQ3|          5|           31|         32|   Y|                N|                 96.875|
|R3O6EMC0ISQY92|          4|           25|         27|   Y|                N|       92.5925925925926|
|R1OGJY9TSNXXX3|          5|           19|         22|   Y|                N|      86.36363636363636|
| R3AOPWQNKJ6VE|          5|           25|         29|   Y|                N|      86.20689655172414|
|R1XJFRM9ANTVSZ|          4|           44|         46|   Y|                N|      95.65217391304348|
|R1VDF41NJMDGBT|          2|           23|         29|   Y|                N|       79.3103448275862|
|R2C0QDBA4NEEKD|          3|          173|        200|   Y|                N|                   86.5|
|R3TUMV5DZL433H|          4|           29|         38|   Y|                N|       76.3157894736842|
| RVU1EA54INF9T|          5|           19|         21|   Y|                N|      90.47619047619048|
+--------------+-----------+-------------+-----------+----+-----------------+-----------------------+
only showing top 20 rows

In [65]:
#unpaid reviews
vine_df_N=vine_df_vote_filter3[vine_df_vote_filter3.vine == 'N']
vine_df_N.show()

+--------------+-----------+-------------+-----------+----+-----------------+-----------------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|helpful_vote_percentage|
+--------------+-----------+-------------+-----------+----+-----------------+-----------------------+
|R1B4753QMTD8ON|          5|           32|         32|   N|                N|                  100.0|
|R28BVHOEL6GCHZ|          5|           21|         21|   N|                Y|                  100.0|
|R27IB4BRKO71I0|          2|           16|         20|   N|                Y|                   80.0|
| RJ86OW12Y4NRL|          5|          124|        128|   N|                Y|                 96.875|
|R3KRABOWCH6ZE4|          1|           48|         65|   N|                Y|      73.84615384615384|
|R1OAKARA30DIWX|          4|           83|         89|   N|                Y|      93.25842696629213|
|R36LSV4WQ4VB1K|          5|           17|         22|   N|                N|      77.27272727272727|
|R18BTOE5UGN7UA|          5|           26|         28|   N|                Y|      92.85714285714286|
|R1DXLGDSK2WMLD|          4|           22|         22|   N|                N|                  100.0|
| RZG2OHQ12YYZI|          5|           30|         31|   N|                Y|       96.7741935483871|
|R1ZPBQCT4DYE4Z|          1|           45|         51|   N|                Y|      88.23529411764706|
|R16KLPJUNC9GS7|          5|           20|         21|   N|                Y|      95.23809523809524|
|R3Q0414UJO4BDO|          1|           23|         28|   N|                Y|      82.14285714285714|
| RDHDT1Z4R8IOF|          1|           18|         20|   N|                Y|                   90.0|
|R10BO7KWZNBGL1|          4|           23|         24|   N|                Y|      95.83333333333333|
|R1H6DQ1UXL6K8U|          5|           86|         97|   N|                N|      88.65979381443299|
|R1ABJ5P5XAZ9AW|          5|          174|        187|   N|                N|      93.04812834224599|
|R2RRFZ2YFSJ2OF|          5|           27|         27|   N|                Y|                  100.0|
| RJ0T139KDORXP|          5|           23|         24|   N|                Y|      95.83333333333333|
|R30MVK7HP2DW91|          5|           84|        124|   N|                Y|      67.74193548387096|
+--------------+-----------+-------------+-----------+----+-----------------+-----------------------+
only showing top 20 rows

In [66]:
#pandas paid df
pandas_paid_df = vine_df_Y.toPandas() 
pandas_paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_vote_percentage
0,R32OMS1LSDRCOB,4,27,31,Y,N,87.096774
1,R2IPKK4I0XRCFR,4,16,21,Y,N,76.190476
2,RXYYJ8SGI9IX6,5,36,41,Y,N,87.804878
3,R1SAUBFC7T6JHC,5,73,75,Y,N,97.333333
4,R329HVJKKHWSG3,5,59,59,Y,N,100.000000

In [68]:
#total reviews paid
y=pandas_paid_df.count()
y

review_id                  334
star_rating                334
helpful_votes              334
total_votes                334
vine                       334
verified_purchase          334
helpful_vote_percentage    334
dtype: int64

In [69]:
#5 star reviews paid
five_star_reviews_paid=pandas_paid_df[pandas_paid_df["star_rating"]=='5']
five_star_reviews_paid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_vote_percentage
2,RXYYJ8SGI9IX6,5,36,41,Y,N,87.804878
3,R1SAUBFC7T6JHC,5,73,75,Y,N,97.333333
4,R329HVJKKHWSG3,5,59,59,Y,N,100.000000
5,RZL21K50M52KW,5,22,22,Y,N,100.000000
6,R24RC5J2D92SBE,5,19,20,Y,N,95.000000

In [71]:
#total reviews paid
x=five_star_reviews_paid.count()
x

review_id                  139
star_rating                139
helpful_votes              139
total_votes                139
vine                       139
verified_purchase          139
helpful_vote_percentage    139
dtype: int64

In [72]:
#percentage of 5 star reviews paid
percentage_paid=x/y*100
percentage_paid

review_id                  41.616766
star_rating                41.616766
helpful_votes              41.616766
total_votes                41.616766
vine                       41.616766
verified_purchase          41.616766
helpful_vote_percentage    41.616766
dtype: float64

In [73]:
#pandas unpaid df
pandas_unpaid_df = vine_df_N.toPandas() 
pandas_unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_vote_percentage
0,R1B4753QMTD8ON,5,32,32,N,N,100.000000
1,R28BVHOEL6GCHZ,5,21,21,N,Y,100.000000
2,R27IB4BRKO71I0,2,16,20,N,Y,80.000000
3,RJ86OW12Y4NRL,5,124,128,N,Y,96.875000
4,R3KRABOWCH6ZE4,1,48,65,N,Y,73.846154

In [74]:
#total reviews unpaid
y1=pandas_unpaid_df.count()
y1

review_id                  61614
star_rating                61614
helpful_votes              61614
total_votes                61614
vine                       61614
verified_purchase          61614
helpful_vote_percentage    61614
dtype: int64

In [75]:
#5 star reviews unpaid
five_star_reviews_unpaid=pandas_unpaid_df[pandas_unpaid_df["star_rating"]=='5']
five_star_reviews_unpaid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_vote_percentage
0,R1B4753QMTD8ON,5,32,32,N,N,100.000000
1,R28BVHOEL6GCHZ,5,21,21,N,Y,100.000000
3,RJ86OW12Y4NRL,5,124,128,N,Y,96.875000
6,R36LSV4WQ4VB1K,5,17,22,N,N,77.272727
7,R18BTOE5UGN7UA,5,26,28,N,Y,92.857143

In [76]:
x1=five_star_reviews_unpaid.count()
x1

review_id                  32665
star_rating                32665
helpful_votes              32665
total_votes                32665
vine                       32665
verified_purchase          32665
helpful_vote_percentage    32665
dtype: int64

In [77]:
#percentage of 5 star reviews unpaid
percentage_unpaid=x1/y1*100
percentage_unpaid

review_id                  53.015548
star_rating                53.015548
helpful_votes              53.015548
total_votes                53.015548
vine                       53.015548
verified_purchase          53.015548
helpful_vote_percentage    53.015548
dtype: float64